#-- GENERAL INFORMATION --#
APP_REPO=hrzeeland-website-galaxy
APP_NAME="${APP_REPO}"
APP_ENV=local
APP_KEY=
APP_URL="https://${APP_REPO}.test"
#APP_DEBUG=true # Standard all developer ips have debug true; however this can overwrite it

#-- DATABASE INFORMATION --#
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE="${APP_REPO}"
DB_USERNAME=root
DB_PASSWORD=

#-- LOGGING INFORMATION --#
LOG_CHANNEL=stack
LOG_LEVEL=debug

#-- CACHE/QUEUE/SESSION INFORMATION --#
BROADCAST_DRIVER=log
CACHE_DRIVER=file
WEBSITE_HTMLCACHE=production
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

#-- DATATABLES INFORMATION --#
DATATABLES_ERROR=throw

##-------------------------------------------##
#         START OF EXTERNAL SERVICES          #
##-------------------------------------------##

#-- GOOGLE INFORMATION --#
GOOGLE_RECAPTCHA_VERSION=
GOOGLE_ENTERPRISE_PROJECT_NAME=
GOOGLE_ENTERPRISE_PROJECT_KEY=
GOOGLE_SITE_KEY=
GOOGLE_SECRET_KEY=
GOOGLE_MAPS_API=

#-- MAIL INFORMATION (default is mailhog) --#
MAIL_MAILER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="noreply@${APP_REPO}.nl"
MAIL_FROM_NAME="${APP_NAME}"

#-- PUSHER INFORMATION --#
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1
MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#-- SCOUT INFORMATION --#
SCOUT_DRIVER=meilisearch
SCOUT_QUEUE=false

#-- SENTRY INFORMATION --#
SENTRY_LARAVEL_DSN=#TODO
MIX_SENTRY_LARAVEL_DSN="${SENTRY_LARAVEL_DSN}"

#-- PM2 INFORMATION --#
WATCH_PM2_PROCESSES=#artisan-queue-worker
WATCH_PM2_NOTIFY_EMAIL_ADDRESS=
WATCH_PM2_NOTIFY_EMAIL_INTERVAL=60
WATCH_PM2_NOTIFY_SLACK_WEBHOOK=
WATCH_PM2_NOTIFY_SLACK_INTERVAL=60

#-- WASABI BACKUP INFORMATION --#
WAS_BACKUP_ACCESS_KEY_ID=MLZVFOOQW8Y3ZSY6SF52
WAS_BACKUP_SECRET_ACCESS_KEY=TJ2YnopTzW0wzCHelonnzhJRsPtYDQq6qI1kDlrd

#-- LASSO --#
LASSO_DIRECTORY="${APP_REPO}"
LASSO_WASABI_ACCESS_KEY_ID=NSF5G8WSXYB9CI7NGJD7
LASSO_WASABI_SECRET_ACCESS_KEY=zztbb6eByBauzCzLBqIDAqjpqarQpRcS6fCOlLfi
LASSO_WASABI_BUCKET=laveto-website-assets

# You can choose to set those up or to setup config/galaxy/lasso.php. The lather you can set up branch specific deploy urls.
LASSO_ENV=
LASSO_TRIGGER_DEPLOY_URL=

#-- GALAXY --#
GALAXY_CACHE_WEBSITE_PAGES=false

GALAXY_TESTS_RUN_DUSK_HEADLESS=false
GALAXY_TESTS_SLEEP_MS_AFTER_SCENARIO=0
GALAXY_TESTS_CLEAR_RAY_BEFORE_SCENARIO=false
