/TODO-move-all-to-own-folder-with-own-gitignores
/node_modules
/public/css/
/public/hot
/public/img/galaxy/common/canvas/blocks/*/*/gallery.jpg
/public/js/
/public/mix-manifest.json
/public/manifest.js
/public/manifest.json
/public/manifest.js.map
/public/mix.js.map
/public/sitemap.xml
/public/storage
/public/page-cache
/vendor
/.idea
/.vagrant
/npm-debug.log
/yarn-error.log
_ide_macros.php
_ide_helper.php
.phpstorm.meta.php
ide_helper.php
.DS_Store
.env
.phpunit.result.cache
storage/framework/compiled.php
storage/framework/down
storage/framework/events.scanned.php
storage/framework/maintenance.php
storage/framework/routes.scanned.php
/storage/*.key
storage/sitemaps
storage/galaxy/developerIps.json
.env.backup
google-enterprise-service-account.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
.lasso
/public/img/galaxy/common/icon/*/*
.php_cs.cache
